<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cheesecakelabs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>587DB52E1B4A953C00956D85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>587DB5451B4A953D00956D85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>587DB5501B4A953D00956D85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
